<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img
        src="assets/home.png"
        alt="home icon"
      />
    </a>
  </div>
  <div class="navbar-start">
    <a routerLink="/forms/new" class="navbar-item"> Create Form </a>
    <a routerLink="/forms" class="navbar-item"> Forms </a>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a class="button is-primary">
          <strong>Sign up</strong>
        </a>
        <a class="button is-light"> Log in </a>
      </div>
    </div>
  </div>
</nav>
