<div>
  <app-display-item [ngClass]="itemClass('Display')" [fieldType]="fieldSelected"></app-display-item>
  <app-data-item [ngClass]="itemClass('Data')"></app-data-item>
  <app-validation-item [ngClass]="itemClass('Validation')"></app-validation-item>
  <app-api-item [ngClass]="itemClass('API')"></app-api-item>
  <app-conditional-item [ngClass]="itemClass('Conditional')"></app-conditional-item>
  <app-logic-item [ngClass]="itemClass('Logic')"></app-logic-item>
  <app-layout-item [ngClass]="itemClass('Layout')"></app-layout-item>
</div>
